@import url(http://fonts.googleapis.com/css?family=Doppio+One);

html {
  color: #636363;
}

a {
  color: #679A9C;
  text-decoration: none;
}
  a:hover,
  a:visited {
    color: #6E7C7D;
  }

h1, h2, h3 {
  font-family: "Doppio One", sans-serif;
}

h2 {
  color: #6E7C7D;
}

h3 {
  color: #679A9C;
}

.pad {
  padding: 1em;
}

ol.unstyled,
ul.unstyled {
  list-style: none;
  padding-left: 0;
}

.content .pad {
  padding-top: 4em;
}

.date {
  color: #aaa;
  font-style: italic;
}

.posts {
}
  .posts .date {
    margin-right: 2em;
  }
  .posts .link {
    font-size: 1.5em;
  }

.header {
  text-align: center;
}
  .header .people {
  }
    .header .people li {
      margin-bottom: 1em;
    }
  .header .subtitle {
    color: #aaa;
    margin: 0 0 3em;
  }
  .header .title {
    font-size: 2em;
    margin-bottom: 0;
  }
    .header .title a {
      color: #679A9C;
    }

