@import url(http://fonts.googleapis.com/css?family=Doppio+One);

html {
  color: #636363;
}

a {
  color: #679A9C;
  text-decoration: none;
}
  a:visited {
    color: #A9C8C9;
  }
  a:hover {
    color: #6E7C7D;
  }

h1, h2, h3 {
  font-family: "Doppio One", sans-serif;
  font-weight: normal;
}

h2 {
  color: #6E7C7D;
}

h3 {
  color: #679A9C;
}

.no-margin {
  margin: 0;
}

.pad {
  padding: 1em;
}

ol.unstyled,
ul.unstyled {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.button,
a.button {
  background-color: #6E7C7D;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  padding: .5em 1em;
}
  .button:hover {
    background-color: #679A9C;
    color: #fff;
  }

.content .pad {
  padding-top: 4em;
}

.date {
  color: #aaa;
}

.header {
  text-align: center;
}
  .header .people {
  }
    .header .people li {
      margin-bottom: 1em;
    }
  .header .subtitle {
    color: #aaa;
    margin: 0 0 3em;
  }
  .header .title {
    font-size: 2em;
    margin-bottom: 0;
  }
    .header .title a {
      color: #679A9C;
    }

.post {}
  .post .controls {
    margin-bottom: 1em;
  }
    .post .controls span {
      display: inline-block;
      margin-left: 1em;
    }
  .post .date {
    margin-bottom: 0;
  }
  .post .title {
    margin-top: 0;
  }
