<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- css -->
        <link rel="stylesheet" href="/css/lib.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body class="container">

      <div class="row">

        <div class="col-4 title">
          <h1>Don't Panic</h1>
          <p>Gadgets, the Internet, and You</p>
        </div>

        <div class="col-8 content">
          {{ content }}
        </div>

      </div>

    </body>
</html>
